* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
  background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Bungee Outline', cursive;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 25vh;
    line-height: 7rem;
}

header h1 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

header p {
    font-size: 3rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 25vh;
}

footer div p {
    font-size: 3rem;
    font-weight: bold;
    line-height: 5rem;
    color: white;  
}


.swal-overlay {
    background-color: rgba(137, 141, 208, 0.45);

}

.swal-modal {
    width: max-content;
    height: max-content;
    border: 3px solid #7CD1F9;
    border-radius: 15px;
}

.swal-title {
    margin: 0;
    color: #809ED1;
    font-size: 2rem;
    font-weight: bold;
}

.swal-text {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0;
    text-align: center;
}

.swal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swal-button{
    width: 12rem;
    height: 6rem;
}

.swal-button--cancel{
    background-color: #7CD1F9;
    color: white;
}



.gameboard {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    border: 4px solid #0099CC;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.color{
    width: 50%;
    height: 50%;
    display: inline-block;
 
}

.left {
    float: left;
}

.right {
    float: right;
}

.rojo {
    background-color: rgb(199,0,57);
}

.rojo.light {
    background-color: rgb(199,0,57, 0.70);
}


.azul {
    background-color: rgb(17,29,94);
}

.azul.light {
    background-color:rgb(17,29,94, 0.70);
}

.verde {
    background-color: rgb(192,226,24);
}

.verde.light {
    background-color: rgb(192,226,24, 0.70);
}

.amarillo {
    background-color: rgb(243,113,33);
}

.amarillo.light {
    background-color: rgb(243,113,33, 0.70);
}


.btn-start {
    
    border: 2px solid #0099CC;
    width: 20vh;
    height: 15vh;
    background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
    color: black;
    border-radius: 30px;
    outline: none;
    position: absolute;
    top: 36%;
    left: 31%;
    font-family: 'Bungee Outline', cursive;
    font-size: 2rem;
    font-weight: bold;
    
}
  
.hide {
    display: none;
}