* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
  background: #0099CC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 20vh;
}

header h1 {
    margin: 5%;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

header p {
    font-size: 1.8rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
}

footer div p {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 5rem;
    color: white;  
}


.swal-overlay {
    background-color: rgba(137, 141, 208, 0.45);

}

.swal-modal {
    border-radius: 10rem solid;
}

.swal-title {
    margin: 0;
    font-size: 2rem;
}

.swal-text {
    margin: 0;
    font-size: 1.5rem;
    line-height: 0;
    text-align: center;
}

.gameboard {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.color{
    width: 50%;
    height: 50%;
    display: inline-block;
 
}

.left {
    float: left;
}

.right {
    float: right;
}

.rojo {
    background-color: rgb(199,0,57);
}

.rojo.light {
    background-color: rgb(199,0,57, 0.70);
}


.azul {
    background-color: rgb(17,29,94);
}

.azul.light {
    background-color:rgb(17,29,94, 0.70);
}

.verde {
    background-color: rgb(192,226,24);
}

.verde.light {
    background-color: rgb(192,226,24, 0.70);
}

.amarillo {
    background-color: rgb(243,113,33);
}

.amarillo.light {
    background-color: rgb(243,113,33, 0.70);
}


.btn-start {
    background-color: #00303F;
    color: #E7D9EA;
    border: 2px solid #0099CC;
    width: 150px;
    height: 80px;
    border-radius: 6px;
    position: absolute;
    top: 37%;
    left: 28%;
    font-size: 2.5rem;
}
  
.hide {
    display: none;
}